body {
  background-color:#f4e1d2;
}

#container {
  float: left;

}

#display {
  width: 140%;
  height: 200px;

  margin: auto;
  background-color: #b1cbbb;
  color: white;
  display: inline-block;
  box-sizing: border-box;
  border: 5px solid black;
  text-align: center;
  font-size: 150px;
  line-height: 180px

}


#functionsarea {
  position: absolute;
  top: 80px;
  right: 50px;
  height: 200px;
  width: 200px;
  float: left;
}


#balance, #deposit, #withdraw {
  height: 30%;
  line-height: 50px;
  width: 150px;
  float: left;
  box-sizing: border-box;
  background-color: #eea29a;
  border: 5px solid black;
  margin: 2%;
  text-align: center;
}

#numbersarea {
  width:400px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #doubleZero, #dot {
  height: 100px;
  line-height: 100px;
  width: 30%;
  float: left;
  box-sizing: border-box;
  background-color: #ffef96;
  border: 5px solid black;
  margin: 1%;
  text-align: center;
}

#operationsarea {
  position: absolute;
  top: 283px;
  left: 428px;
  height: 300px;
  width: 150px;
  float: left;
}

#divide, #multiply, #subtract, #add, #equal {
  height: 100px;
  line-height: 100px;
  width: 90%;
  float: left;
  box-sizing: border-box;
  background-color: #ffef96;
  border: 5px solid black;
  margin: 3%;
  text-align: center;
}

#clearButton {
  position: absolute;
  top: 720px;
  left: 10px;
  height: 100px;
  width: 250px;
  float: left;
  background-color: #b2b2b2;
  border: 5px solid black;
  margin: 2px;
  text-align: center;
}